
* {
  box-sizing: border-box;
  margin: 0;
}
h1,
p,
h2,
h3,
h4,
ul,
li,
div {
  margin: 0;
  padding: 0;
}
body {
  background-color: #000;
}



body {
  font-family: "Montserrat", sans-serif;
  background: black;
  color: #fff;
}

.container {
  margin: 100px auto;
  margin-top: 220px;
  width: 400px;
  text-align: center;
  position: relative;
}

.progress2 {
  border-radius: 30px;
  background-color: #1c1c1c;
}

.progress-bar2 {
  height: 18px;
  border-radius: 30px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved .progress-bar2 {
  background-color: red;
  animation: progress 5s infinite;
}

@keyframes progress {
  0% {
    width: 0%;
    background: red;
  }

  100% {
    width: 100%;
    background: red;
    box-shadow: 0 0 40px red;
  }
}

.icon {
  color: red;
  animation: icon 5s infinite;
  background-color: transparent;
  padding-right: 400px;
  padding-bottom: 20px;
}

@keyframes icon {
  0% {
    opacity: 0.2;
    text-shadow: 0 0 0 red;
  }

  100% {
    opacity: 1;
    text-shadow: 0 0 10px red;
  }
}

.loader {
  --p: 0;
  animation: p 5s steps(100) infinite;
  counter-reset: p var(--p);
  font-size: 2.1em;
  position: absolute;
  bottom: 45px;
  left: 325px;
  color: red;
}

.loader:after {
  content: counter(p) "%";
}

@keyframes p {
  90%,
  100% {
    --p: 100;
  }
}
